.card-body a {
    word-break: break-all;
  }

  .card-header {
    display: grid;
    }

  .articleHeadline {
    line-height: 1.5;
  }

  /* this will be used for the buttons; make them bigger */
.q-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: flex-start;
    width: 100%;
    min-width: 260px;
}

.q-item {
    order: 0;
    width: 24%;
    height: 300px;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    float: left;
    background-color: rgb(30, 51, 88);
    color: rgb(224, 223, 223);
}
